/* You can set some specific CSS of interest here*/
.App-logo {
  height: 10vmin;
}

.profileicon {
  height: 3vmin;
}

/*
.container-fluid {
  background-color: #f0f0f0;
}
*/
.navbar{
  z-index:100;
  margin-right: 50px;
}
.navbar-text{
   font-size: 30px ;
}

.flex-container{
  display: flex;
  width: 50%;
  height: auto;
}

.title{
  color: #6F8031;
}

/* .card{
  max-width: 540px;
} */


.footer {
  position: absolute;
  bottom: 01;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  margin-bottom: 10%;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
.footerbt {
  padding-top: 30px;
  padding-right: 180px;
  background-color: #ffffff00;
  color: rgb(97, 146, 42);
}

footer a {
  color: rgb(104, 133, 41);
  text-decoration:none;
  
}

footer a:hover, footer a:focus {
  color: rgb(96, 139, 47);
  text-decoration:none;
  border-bottom:1px dotted rgba(153, 153, 153, 0);
}

footer .form-control {
    background-color: #ff000000;
    box-shadow: 0 1px 0 0 rgba(97, 149, 48, 0.555);
    border: none;
    resize: none;
    color: #648d23;
    padding: 0.7em 1em;
}

.aboutusimg{
  width: 550px; 
  height: 1000px;
  margin-Left: 560px;
}



footer {
  position: absolute;
  bottom: 0.1;
  width: 100%;
  height: 20px;
  background-color: #f5f5f500;
  color: #6F8031;
  font-size: 12px;
  
}

input { color: #6F8031; }
.select-wrapper+label { color: #6F8031; }

/* .justify-content-end{
  background-color: #6F8031; 
} */
.navline{
  border-top: 2px solid #6F8031;
  margin-right: 80px;
  margin-left: 80px;
}
.carousel-at-top-position{
  position:absolute;
  top:0;
}

.restrict-home-carousel-height{
  max-height: 100vh;
}

.carousel-caption {
  top: 70%;
  bottom: auto;
  
}

.carousel-indicators{
  top: 90%;
  bottom: auto;
}
